# Add files here to ignore them from prettier formatting

**/dist
/coverage

*.prisma
*.graphql
node_modules

/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

postgresql_data
uploads
redis
backups
restore